* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --koray:red;
    --font-size:25px;
    --main-bg:#333;
    --container:1000px;
    --main-rgb:255,0,0;
}

body {
    background-color:var(--main-bg)
}

h1 {
    font-size:var(--font-size);
    color:var(--koray);
}
.container {
    max-width: var(--container);
    margin:0 auto;
}